.auth-container {
  @extend %container;
  &__error {
    @extend %error;
  }
  &__title {
    font-size: 2.8rem;
  }
  &__form {
    @extend %form;
    .btns {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
    }
  }
}

.reset {
  color: $color7;
}