.form__input {
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  &--search {
    margin-right: 1rem;
  }
}

.form__textArea {
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  height: 5rem;
  resize: none;
}