.btns__auth-btn {
  outline: none;
  border: 0.1rem solid $color1;
  padding: 0.5rem 1.5rem;
  background-color: $color5;
  cursor: pointer;
  transition: all 2ms ease-in;
  &--comment {
    width: 30%;
  }
}

.btns__auth-btn:active {
  box-shadow: inset 0 0 1rem $color3;
  border: none;
}

.deleteBtn {
  border: none;
  color: $color6;
  cursor: pointer;
  background-color: $color4;
}

.paginationBtn {
  outline: none;
  padding: 0.5rem 1.5rem;
  border: none;
  border: 0.1rem solid $color1;
  color: $color1;
  background-color: transparent;
  cursor: pointer;
  transition: all 2ms ease-in;
}

.paginationBtn:hover {
  border: none;
  background-color: $color2;
  
}