* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

:root {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  font-family: 'Baloo 2', cursive;
}

body {
  font-size: 1.8rem;
  color: $color1;
  background-color: $color2;
  margin: 1rem auto;
  width: 88%;
}