.comm-container {
  @extend %container;
  &__body {
    display: flex;
    flex-direction: column;
  }
}

.comments {
  background-color: $color5;
  margin-top: 0.5rem;
  padding-left: 0.2rem;
  &__username {
    color: $color8;
  }
}